.Input {
  border: 2px solid rgba(125,125,125,0.1);
  border-radius: 8px;
  padding: 1em;
  outline: none;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 100%;

 &:focus {
   border: 2px solid var(--color-primary);
 }

} 
::placeholder {
  color: var(--color-faded);
}