.Button {
  padding: .8em 2em;
  border: 1px solid transparent;
  border-radius: 35px;
  background-color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
  font-size: 	1.125rem;
  box-shadow: 0 5px 10px rgba(21, 102, 107,0.1);
  outline: none;
  color: white;

  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  a {
    color: white;
  }

  &:hover {
    background-color: plum;
  }

  &-icon {
    margin-right: 8px;
  }
}