.Footer {
  color: var(--color-faded);
  margin-top: 8em;
  border-top: 1px dashed var(--color-faded);
  padding-top: 2em;
  margin-bottom: 9em;

  &-bottom {
    display: flex;
    justify-content: space-between
  }
}

