@import '../Layout/variables';

.Footer {
  color: var(--color-faded);
  border-top: 1px dashed var(--color-faded);
  padding-top: 1.6em;
  padding-bottom: 4em;
  
  @media all and ($breakpoint-tablet) {
    padding-top: 2em;
    padding-bottom: 12em;
  }

  &-bottom {
    display: flex;
    justify-content: space-between
  }
}