.Link {
  &-internal {
    color: var(--color-primary);
  }

  &-external {
    color: plum;
    // border: 1px solid transparent;

  }
  &-external:hover {
    color: #ab2aab;
    // border-bottom: 1px solid #ab2aab;
  }
  &-active {
    font-weight: bold;
    text-decoration: underline;
  }
}
