.Link {
  text-decoration: none;
  // color: red;

  &-internal {
    color: cyan
  }

  &-external {
    color: plum
  }

  &-active {
    font-weight: bold;
    color: red;
    background: black;
  }
}
