.SiteContainer {
  // background-color: salmon;
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;

  // @media screen and (min-wdith: 600px) {
  //   width: 80vw;
  // }
  // @media screen and (min-wdith: 900px) {
    
  // }
  // @media screen and (min-wdith: 1200px) {
    
  // }
}